[Unit]
Description=VM startup script

[Service]
Type=oneshot
WorkingDirectory=/opt/vm-startup
ExecStart=bash /opt/vm-startup/vm-startup.sh
RemainAfterExit=true
StandardOutput=journal

[Install]
WantedBy=multi-user.target
