[Unit]
Description=Bootstrap script that configures the VM for Vertex Workbench

[Service]
Type=oneshot
WorkingDirectory=/opt/workbench-bootstrap
ExecStart=bash /opt/workbench-bootstrap/workbench-bootstrap.sh
RemainAfterExit=true
StandardOutput=journal
Restart=on-failure

[Install]
WantedBy=multi-user.target
